@media(max-width:1064px){
    .nav-block{
        display: none;
    }
    .burger-bar{
        display: block;
    }
}
@media(max-width:990px){
   .middle-block{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0 auto;
   }
   .form-left-block{
        margin: 0 auto;
   }
   .form-right-block{
       margin: 20px;
   }
   .three-pic-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
   }
}
